body{
    background:black;
    color:white;
    font-family:Arial;
    overflow:hidden;
}

.container{
    text-align:center;
    margin-top:150px;
}

button{
    padding:15px 25px;
    font-size:18px;
    border:none;
    margin:20px;
    cursor:pointer;
}

#yes{
    background:green;
    color:white;
}

#no{
    background:red;
    color:white;
    position:absolute;
}
